body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: black;
    background-size: cover; 
    background-position: center;
    display: flex:
    align-items: center;
    height: 100vh;
    flex-direction: column;
}

.menu {
    display: flex;
    flex-direction: column;
    justify-content: flex-start; 
    gap: 30px; /* Espaciado entre filas */
    color: black;
    text-align: center;
    background-color: rgb(255, 195, 0); /* Usando RGB directamente */
    padding: 40px;
    border-radius: 10px;
}
.menu-item {
    display: flex;
    align-items: center;
    justify-content: space-between; /* Distribuye los elementos en la fila */
    background-color: rgba(218, 206, 140, 0.5); /* Fondo semi-transparente */
    padding: 10px;
    border-radius: 8px; /* Bordes redondeados */
    width: 100%;
    max-width: 600px; /* Ajusta el tamaño */
    margin: auto;
}

.menu-item label, .menu-item input {
    flex: 1; /* Hace que los elementos se distribuyan equitativamente */
    text-align: center;
}
.buybtn{
    background-color: black;
    color: white;
    padding: 20px 30px;
    border: 2px solid black;
    border-radius: 5px;
    cursor: pointer;
}
