body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: black;
    background-size: cover; 
    background-position: center;
    color: black;
    display: flex;
    justify-content: center;
    align-items: cener;
    height: 100vh;
    flex-direction: column;
}
.menu {
    display: grid;
    align-items: start;
    color: white;
}
