body {
    padding-top: 80px;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: black; /* Fondo negro */
    background-size: cover;
    background-position: center;
    display: flex; /* Corrección: se eliminó el colon extra */
    align-items: center;
    height: 100vh;
    flex-direction: column;
}
.logo {
    display: flex;
    justify-content: space-between; /* Alinea los elementos de izquierda a derecha */
    align-items: center;
    background-color: rgb(255, 195, 0); /* Fondo RGB */
    color: white;
    padding: 10px 20px;
    width: 100%;
    z-index: 10; /* Se asegura que esté sobre otros elementos */
}

.logo img {
    width: 50px; /* Ajusta el tamaño del logo */
    height: auto;
}

/* Estilo para el menú de contactos */
.contact-menu {
    display: none; /* Oculto por defecto */
    background-color: rgb(0, 0, 0, 0.7); /* Fondo oscuro semi-transparente */
    position: absolute;
    top: 40px; /* Justo debajo de la barra */
    left: 0;
    padding: 10px;
    width: 150px;
    text-align: center;
    border-radius: 5px;
}

.contact-menu a {
    display: block;
    color: white;
    padding: 10px;
    text-decoration: none;
}

/* Estilos para el enlace de contactos */
.contact-toggle {
    cursor: pointer;
    padding: 10px;
    color: white;
    font-weight: bold;
    border: 1px solid transparent;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.contact-toggle:hover {
    background-color: rgba(255, 255, 255, 0.2); /* Efecto hover */
}
.title{
     margin-top: 20px;
}
.menu {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start; 
    gap: 30px; /* Espaciado entre filas */
    color: black;
    text-align: center;
    background-color: rgb(255, 195, 0); /* Usando RGB directamente */
    padding: 40px;
    border-radius: 10px;
}
.menu-item {
    display: flex;
    align-items: center;
    justify-content: space-between; /* Distribuye los elementos en la fila */
    background-color: rgba(218, 206, 140, 0.5); /* Fondo semi-transparente */
    padding: 10px;
    border-radius: 8px; /* Bordes redondeados */
    width: 100%;
    max-width: 600px; /* Ajusta el tamaño */
    margin: auto;
}

.menu-item label, .menu-item input {
    flex: 1; /* Hace que los elementos se distribuyan equitativamente */
    text-align: center;
}
.buybtn{
    background-color: black;
    color: white;
    padding: 20px 30px;
    border: 2px solid black;
    border-radius: 5px;
    cursor: pointer;
}
